@media (max-width:385px) {
    .page-title {
        font-size: x-small;
        font-family: 'Amatic SC', cursive;
    }
}
header {
    padding-top: 7px;
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.material-icons { 
    font-size: 48px; 
}
button {
    color: black;
    transition-duration: 0.8s;
    border: none;
}
.page-title {
    align-self: center;
    text-align: center;
    font-family: 'Amatic SC', cursive;
}
.social {
    padding: 5px;
}
.icon {
    padding: 5px;
}