.nav{
    grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-self: center;
    justify-self: center;
    width: 96%;
    font-family: 'Amatic SC', cursive;
    font-size: 2em;
}
@media (min-width:768px) {
    .nav{
        width: 50%;
    }
}
.nature {
    color: green;
    text-decoration: none;
    transition-duration: 0.8s;
}
.nature:hover {
    color: blue;
    text-decoration: none;
}
.music {
    color: blue;
    text-decoration: none;
    transition-duration: 0.8s;
}
.music:hover {
    color: red;
    text-decoration: none;
}
.art {
    color: red;
    text-decoration: none;
    transition-duration: 0.8s;
}
.art:hover {
    color: purple;
    text-decoration: none;
}
.contact {
    color: purple;
    text-decoration: none;
    transition-duration: 0.8s;
}
.contact:hover {
    color: blue;
    text-decoration: none;
}